# Ignore bundler config.
/.bundle

# Ignore IntelliJ config.
/.idea

# Ignore database config.
/config/database.yml

# Ignore coverage files.
/coverage

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
