<table>
  <tr>
    <th>Sfw ?</th>
    <td><%= form.check_box(:sfw) %></td>
  </tr>
  <tr>
    <th>Archived ?</th>
    <td><%= form.check_box(:archived) %></td>
  </tr>
  <tr>
    <th>Pending ?</th>
    <td><%= form.check_box(:pending) %></td>
  </tr>
</table>
