
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', serif;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}


.glyphicon-white {
  color: white;
}
